CompileFlags:
  Add:
   - "-I/Users/giovanna/Projects/mega-repo/GBA/libraries/libtonc/include"
   - "-I/Users/giovanna/Projects/mega-repo/GBA/libraries/libgba/include"
   - "-I/Users/giovanna/Projects/mega-repo/GBA/demos/01_movement/build"
   - "-I/Users/giovanna/Projects/mega-repo/GBA/demos/01_movement/source"
