node_modules
.vscode
.env
.DS_Store
c4g-extension/out
jupyter/.ipynb_checkpoints/Untitled-checkpoint.ipynb
jupyter/.cache-giznrdni
jupyter/.cache
tcc/.next
godot/server-editor.zip
godot/vita_template_3.6.beta.tpz
godot/Godot.app
.mitmproxy
__pycache__
vitasdk-m1/out/
something_something/youtube-dl/download
arduino/LilyGo/.clangd
.Rproj.user
