.ReactModal__Content {
  background: #be6464 !important;
  border: 3px solid #783d3b !important;
  border-radius: 5px;
  padding: 0 !important;
}

.tooltip {
  position: fixed;
  background: white;
  padding: 10px;
  z-index: 99999;
}

.land {
  fill: #CCCCCC;
  fill-opacity: 1;
  stroke: white;
  stroke-opacity: 1;
  stroke-width: 0.5;
}

[class*="África"] {
  fill: blue;
}

[class*="América do Sul"] {
  fill: violet;
}

[class*="América do Norte"] {
  fill: green;
}

[class*="Europa"] {
  fill: limegreen;
}

[class*="Oceania"] {
  fill: yellow;
}

[class*="Ásia"] {
  fill: slateblue;
}

[class*="Antártida"] {
  fill: white;
}

.land.selected {
  fill-opacity: .5;
}

.land.disabled {
  fill: red;
}

.controls {
  position: absolute;
  z-index: 8888;
  bottom: 2px;
}

.controls.zoom {
  left: 2px;
}

.controls.position {
  height: 80px;
  width: 80px;
  right: 2px;
}

.controls.position > button {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 0;
  margin: 0;
}

.controls.position .top {
  position: absolute;
  top: 0;
  left: calc(50% - 15px);
}
.controls.position .bottom {
  position: absolute;
  bottom: 0;
  left: calc(50% - 15px);
}
.controls.position .left {
  position: absolute;
  top: calc(50% - 15px);
  left: 0;
}
.controls.position .right {
  position: absolute;
  top: calc(50% - 15px);
  right: 0;
}

button {
  background: #3EA9AD;
  border: #66F4FA 3px solid;
  border-radius: 5px;
  margin: 5px;
  padding: 5px 20px;
  color: #ffffff;
  font-weight: bold;

  position: relative;
  cursor: pointer;
}
button:disabled {
  filter: brightness(.5);
}

.app {
  background: salmon;
  padding-inline: 20px;
  padding-bottom: 20px;
  display: flex;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
}

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

.game-container {
  border-radius: 10px;
  border-width: 5px;
  border-color: white;
  flex: 1 1;
  border-style: solid;
  width: 100%;
  height: 100%;
  position: relative;
}

.game-container>div {
  border-radius: 5px;
}

.how-to-navigate {
  display: none;
}

.guess-button {}

.guess-close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.gm-iv-address {
  display: none;
}

.gmnoprint {
  display: none;
}

#map {
  background: powderblue;
}

@keyframes pulse {
  0% {
    fill-opacity: 1;
  }

  50% {
    fill-opacity: .5;
    fill: salmon;
  }

  100% {
    fill-opacity: 1;
  }
}

@keyframes scale {
  0% {
    scale: 1;
  }

  50% {
    scale: 1.2;
  }

  100% {
    scale: 1;
  }
}

@keyframes scale-less {
  0% {
    scale: 1;
  }

  50% {
    scale: 1.05;
  }

  100% {
    scale: 1;
  }
}

@keyframes scale-lessy {
  0% {
    scale: 1;
  }

  50% {
    scale: 1.02;
  }

  100% {
    scale: 1;
  }
}

.ReactModal__Overlay {
  z-index: 999999;
}

.timer {
  display: inline-block;
  color: white;
  font-size: 24px;
  padding: 10px;
}
@keyframes scale-and-shake {
  from {
    transform: rotate(5deg);
  }

  to {
    transform: rotate(-5deg);
  }
}
.timer[data-shake="true"] {
  animation: scale-and-shake infinite alternate .2s ease;
}

.react-tooltip {
  z-index: 999999999999;
  background-color: #AD6158 !important;
  border: #783d3b 2px solid;
  max-width: 300px;
}

.react-tooltip-arrow {
  background-color: #783d3b !important;
  width: 10px !important;
  height: 6px !important;
  transform: unset !important;
  clip-path: polygon(50% 0, 100% 100%, 0 100%) !important;
  top: -6px !important;
}

.tooltip-container {
  display: flex;
  flex-direction: column;
}

.the-arrow {
  width: 120px;
  background: #f0ad4e;
  height: 6px;

  position: fixed;

  z-index: 9999999999;


  margin-top: 32px;
  margin-bottom: 32px;
  
  border-radius: 50%;
  box-shadow: 0px 0px 20px 2px #f0ad4e;
}

.the-arrow:after {
  content: '';
  background: #f0ad4e;
  width: 5px;
  height: 50px;
  position: absolute;
  transform: rotate(-45deg);
  left: 14px;
  top: -5px;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 2px #f0ad4e;
}

.the-arrow:before {
  content: '';
  background: #f0ad4e;
  width: 5px;
  height: 50px;
  position: absolute;
  transform: rotate(45deg);
  left: 14px;
  top: -39px;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 2px #f0ad4e;
}

.ReactModal__Content > .react-transform-wrapper {
  width: 100%;
  height: 100%;
}


button[data-disabled="true"]:after {
  content: '🔓';
  position: absolute;
  top: -5px;
  left: -10px;
  background-color: white;
  border-radius: 20px;
  padding: 2px;
  height: 18px;
  width: 18px;
}

.right-attempt {
  padding: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}

.right-attempt > .info {
  flex: 1;
}
.right-attempt > .info .country-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.right-attempt > .info .country-name > h2 {
  font-size: 32px;
  margin: 0;
}
@keyframes shake {
  from {
    transform: rotate(-20deg);
  }
  to {
    transform: rotate(20deg);
  }
}
.right-attempt .general {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.right-attempt .country-data {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.right-attempt > .info .flag {
  animation: shake infinite alternate 2s cubic-bezier(0.52,-0.43, 0.61, 1.41);
  display: inline-block;
  font-size: 72px;
  line-height: 52px;
}
.right-attempt > .info li {
  margin-bottom: 6px;
}
.right-attempt > button {
  width: 100%;
}

.guesses-info {
  position: absolute;
  top: 10px;
  left: 10px;
  background: salmon;
  border-radius: 2px;
  padding: 5px;
  z-index: 99;
  border: 1px solid #783d3b;
}

.tip {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.tip p {
  margin-block-start: 0;
  margin-block-end: 0;
}
.tip button {
  white-space: nowrap;
  margin-right: 10px;
  width: 120px;
  flex-grow: 0;
  flex-shrink: 0;
}

.close-modal-button {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.tutorial {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: rgba(0, 0, 0, .8);

  z-index: 99999;

  color: white;
  padding: 20px;
  backdrop-filter: blur(2px);
}

.react-transform-wrapper {
  background: powderblue !important;
}

.tutorial .controls {
  display: flex;
  justify-content: center;
  width: 100%;
}

.tutorial .close {
  position: absolute;
  right: 20px;
  top: 20px;
}

h4 {
  margin-block-start: 1em;
  margin-block-end: 1em;
}
