html,
body {
    overscroll-behavior-x: none;
}

#container {
    border: 1px solid red;
}

body {
    display: flex;
}

canvas {
    border: 1px solid red;
}

#resulting-image {
    object-fit: none;
    align-self: start;
    zoom: 3;
}

.preview {
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex: 1;
    overflow: scroll;
    padding: 20px;
}

#sprites-container {
    margin-bottom: 50px;
}

#example-container {
    display: flex;
    position: relative;
}

.menu {
    display: flex;
    flex-direction: column;
    border-left: 1px solid lightblue;
    padding-left: 5px;
    overflow: scroll;
}

.divider {
    margin-top: 3px;
    margin-bottom: 3px;
    border-bottom: 1px solid lightblue;
}

#palettes {
    margin-bottom: 18px;
}

.color-slider {
    display: flex;
}

.color-slider > input {
    flex: 1;
    margin-left: 5px;
    margin-right: 40px;
}

#palettes > div {
    display: flex;
}

#palettes > div > button {
    margin-left: 10px;
    height: 24px;
    line-height: 24px;
    padding: unset;
    width: 24px;
}

.palette-chooser {
    display: flex;
}

.palette-chooser > .palettes-slider {
    display: flex;
    flex-direction: column;
}

.palette-chooser > .palettes-slider > input {
    writing-mode: vertical-lr;
    direction: ltr;
    flex: 1;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 5px;
}

.mirror-config, .background-config, .draw-config {
    display: flex;
    justify-content: space-between;
}

.background-config {
    flex-direction: column;
}

.background-config > div {
    display: flex;
    justify-content: space-between;
}

.palette-color {
    width: 20px;
    height: 20px;
    display: inline-block;
    box-shadow: inset white 0 0 0px 1px;
    border: 1px solid black;
}

input[type="number"] {
    width: 70px;
}