CompileFlags:
  Add:
   - "-I/Users/gigigi/Documents/Projects/mega-repo/GBA/libraries/libtonc/include"
   - "-I/Users/gigigi/Documents/Projects/mega-repo/GBA/libraries/libgba/include"
   - "-I/Users/gigigi/Documents/Projects/mega-repo/GBA/demos/04_text/build"
   - "-I/Users/gigigi/Documents/Projects/mega-repo/GBA/demos/04_text/source"
