CompileFlags:
  Add:
   - "-I/Users/giovanna/Projects/mega-repo/GBA/libraries/libtonc/include"
   - "-I/Users/giovanna/Projects/mega-repo/GBA/libraries/libgba/include"
   - "-I/Users/giovanna/Projects/mega-repo/GBA/demos/11_race_example/build"
   - "-I/Users/giovanna/Projects/mega-repo/GBA/demos/11_race_example/source"
