services:
  app:
    container_name: app
    build: .
    ports:
      - "1234:80"
    command:
      [
        "uv",
        "run",
        "uvicorn",
        "main:app",
        "--host",
        "0.0.0.0",
        "--port",
        "80",
        "--reload-dir",
        "/app",
      ]
    develop:
      watch:
        - action: sync+restart
          path: ./src
          target: /app
          ignore:
            - .venv/
        - action: rebuild
          path: ./pyproject.toml
    stdin_open: true
    tty: true