[project]
name = "app-framework-2"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "pydantic>=2.12.4",
    "starlette>=0.50.0",
    "uvicorn>=0.38.0",
]
